/* .container {
  width: 100%;
  background-image: url(`${getImgUrl(movieDetails.backdrop_path)`);
} */

.loadContainer {
  width: 100%;
  background-image: url("../../assets/images/loading.jpg");
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
