.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-image: url("../../assets/images/movies_background.jpg");
  background-attachment: fixed;
  background-size: cover;
}
